*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway' , sans-serif;
}

p,a{
    font-family: 'Roboto' , sans-serif;
}
img-responsive{
    display:block;
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1330px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clear{
    clear: both;
}
.active{
    width:40% !important;
    z-index: 20 !important;
}
.menu-hide{
    display:inline-block !important;
}
.sidebar-brand{
    padding:50px 20px ;
}
.sidebar-menu .menu{
    width:100%;
    margin-top: 10px;
}
.sidebar-menu .menu .item{
    position: relative;
    cursor:pointer;
}
.sidebar-menu .menu .item a{
    color:#fff;
    font-size:16px;
    text-decoration: none;
    display:block;
    padding:1px 30px;
    line-height: 40px;
}
.sidebar-menu .menu .item a:hover{
    background:#63d6eb;
    transition:all .5s ease;
}
.sidebar-menu .menu .item i{
    margin-right: 15px;
}
.sidebar-menu .menu .item a .dropdown{
position:absolute;
right:0;
margin:13px;
transition:.3s ease;
}
.sidebar-menu .menu .item .sub-menu{
    background: rgba(255,255,255,0.1);
    display:none;
}
.sidebar-menu .menu .item .sub-menu a{
    padding-left:80px;
}
.rotate{
    transform: rotate(90deg);
}
header.main-header{
    position:fixed;
    background-color:aliceblue;
    box-shadow: 10px 10px 20px #bbb; 
    width:100%;
    }
    .header-left1{
    float:left;
    width: 22%;
    padding:1%;
    margin-top: 10px; 
    margin-right: 10px;   
    }
    .header-center{
        width:30%;
        float:left;
        font-size: large;
        margin-left: 10px;
        margin-right: 10px;
        color:rgba(7, 6, 7, 0.9);
    }
    .header-left{
        width:40%;
        float:right;
    }
    .header-left img{
     width:10%;
     border-radius: 60px; 
     margin-top: 10px;
     margin-left: 35%;
    }
    .header-left p{
        margin-left: 36%;    
    }
    .ddd{
        width: 80%;
        margin-top: 130px;
        margin-left: 10%;
        border-radius: 5px;
        background-image: linear-gradient(rgba(158, 239, 250, 0.9),rgba(245, 226, 140, 0.9));
        margin-bottom: 50px;
    }
    #fname{
        width:100%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #lname{
        width:100%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #pnum{
        width:100%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #Address{
        width:100%;
        height: 60px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #esince{
        width:100%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #uname{
        width:100%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #pass{
        width:100%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 30px;
        border-radius: 5px;
        border:1px solid rosybrown;
        outline:none;
    }
    #pfile{
        width:40%;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        outline:none;
    }
    #subt{
        border:1px solid rosybrown;
        padding:10px;
        width:15%;
        background-color:green;
        cursor:pointer;
        border-radius: 5px;
        outline:none;
    }
    #subt:hover {
        background-color:greenyellow;
      }
    
    .gender{
        margin-bottom: 10px;
    }

    #male{
        margin-top: 10px;
    }
section#sidebar{
    width:20%;
    background-color:rgba(42, 138, 194, 0.9);
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    overflow-y:auto;
    transition: all .5s ease;
    z-index: 99;
}
section#main-content{
    width:80%;
    float:right;
}

@media screen and (max-width:768px) {
.header-left1{
     float:left;
     width:35%;
 }
 .header-center{
     width:15%;
     font-size:15px;
 }
 .header-left{
    float:left;
    width:40%;
}
.header-left img{
margin-left: 85px;
 }
 
 section#sidebar{
     width:20%;
 }
 section#main-content{
     width:80%;
 }
 .sidebar-menu .menu .item a{
     padding:10px 22px;
 }
 .sidebar-menu .menu .item span{
     display:none;
 }
 .sidebar-brand{
     padding:20px 0px 20px 20px;
 }
}